nav{
   border-style: none none double none;  
}
.navbar{
    display: flex;
    justify-content: end;
    
}

a{
    text-decoration: none;
    font-size: 20px;
}
ul{
    padding: 15px;
}
li{
    list-style: none;
    display: inline;
    padding:0px 10px;
}

.container{
    padding: 30px;
    background: whitesmoke;
}
section{
    display: grid;
    grid-template-columns: repeat(10, auto);
    margin-bottom: 30px;
    
}

.gambar{
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 80px;

}
.profile{
    grid-column-start: 2;

}



form{
    display: grid;
    background:white;
}

input{
    position: relative;

}
button{
    border-radius: 5px;
    width: auto;
    height: 50px;
    padding: auto;
    
}
.button-kontak{
    width: 100px;
    background: blue;
    color: white;
}
.button-resume{
    width: 100px;
    border-color: green;
    background: white;
    color: green;

}

.button-form{
    background: green;
    color: white;
}